# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The following configuration is used for JetBrains IDEs (IntelliJ, Android Studio, etc.)
# and should be ignored to prevent sharing developer-specific settings.
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/deployment.xml
.idea/remote-mappings.xml
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/misc.xml
.idea/copyright/
.idea/inspectionProfiles/

# Visual Studio Code related
.vscode/

# Flutter/Dart related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec_overrides.yaml

# Web related
node_modules/
package-lock.json
yarn.lock
.env
.env.*

# Firebase related
.firebase/
firebase-debug.log*
.firebaserc

# Symbolication related
app.*.symbols
app.*.map.json
